<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="yaw.application" type="Yaw.Core.Configuration.ApplicationConfig, Yaw.Core"/>
	</configSections>

	<system.diagnostics>
		<trace autoflush="true" indentsize="3">
			<listeners>
				<clear/>
				<add name="myListener" type="Yaw.Core.Diagnostics.Default.FormattedTraceListener, Yaw.Core" initializeData="[{Timestamp}][{ThreadId}] {Logger}.{MethodName}:\n{Message}\n"/>
			</listeners>
		</trace>
	</system.diagnostics>

	<yaw.application name="bpc" logFileFolder="Log\CoreTest" traceLevel="Verbose">
		<diagnostics groupBy="Logger">
			<writers>
				<writer type="Yaw.Core.Diagnostics.Default.FileWriter">
					<formatter type="Yaw.Tests.CoreTest.Helpers.LoggerTestFormatter, Yaw.Tests.CoreTest" raw="true">
					</formatter>

					<filters>
						<filter type="Yaw.Tests.CoreTest.Helpers.LoggerTestFilter, Yaw.Tests.CoreTest">
						</filter>
					</filters>
				</writer>
			</writers>
		</diagnostics>

		<subsystems>
			<!--Тестовая подсистема для unit тестирования-->
			<subsystem name="mySubsystem" type="Yaw.Tests.CoreTest.Helpers.TestSubsystem, Yaw.Tests.CoreTest" traceLevel="Error" logFileFolder="MyLog" separateLog="true">
				<testProperty testValue="MyTestValue"/>
			</subsystem>

			<!--Тестовая подсистема для unit тестирования-->
			<subsystem name="mySubsystem1" type="Yaw.Tests.CoreTest.Helpers.TestSubsystem, Yaw.Tests.CoreTest">
				<testProperty testValue="MyTestValue"/>
			</subsystem>

			<!--Тестовая подсистема для unit тестирования-->
			<subsystem type="Yaw.Tests.CoreTest.Helpers.TestSubsystem, Yaw.Tests.CoreTest" traceLevel="Info" separateLog="false">
				<testProperty testValue="MyTestValue"/>
			</subsystem>

			<!--Тестовая подсистема для unit тестирования-->
			<subsystem name="mySubsystem2" type="Yaw.Tests.CoreTest.Helpers.OtherTestSubsystem, Yaw.Tests.CoreTest" traceLevel="Error" separateLog="false">
				<testProperty testValue="MyTestValue"/>
			</subsystem>
		</subsystems>
	</yaw.application>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
